* {
  margin: 0;
}
p {
  font-family: 'Lobster', cursive;
  margin: 40px;
  font-size: 2.5em;
  color: rgb(148, 130, 208);
}
nav {
  position: fixed;
  height: 100%;
  width: 20%;
  float: left;
  background-color: #eeedf6;
}
#ul li {
  list-style: none;
  cursor: pointer;
}
#ul li:hover {
  transform: translate(20px);
}
#ul li {
  color: rgb(148, 130, 208);
  font-size: 17px;
}
section {
  float: right;
  width: 80%;
  height: 100%;
}
div {
  text-align: center;
  width: 800px;
  height: 500px;
  position: relative;
  right: -60px;
  bottom: 300px;
  margin: 200px;
}
video {
  border: 10px solid rgb(148, 130, 208);
  border-radius: 30px;
  width: 800px;
  height: 455px;
  position: absolute;
}
.photo {
  position: absolute;
}
.cover {
  border: 10px solid rgb(148, 130, 208);
  border-radius: 30px;
  width: 800px;
  height: 500px;
  position: relative;
  z-index: 1;
  top: 620px;
}
.playbutton {
  position: relative;
  width: 100px;
  height: 100px;
  top: 460px;
  left: 350px;
  background: #00ff0000;
  border: 0;
  z-index: 3;
}
.name {
  font-family: 'Gamja Flower', cursive;
}
