fieldset {
  font-family: 'Gaegu', cursive;
  font-size: 1.2em;
  margin: 30px;
  text-align: center;
  width: 300px;
  height: 300px;
  border: 2px solid rgb(148, 130, 208);
}
button {
  border: 1px solid rgb(148, 130, 208);
  background-color: white;
}
p {
  float: right;
}
