* {
  margin: 0;
}
p {
  font-family: 'Lobster', cursive;
  margin: 40px;
  font-size: 2.5em;
  color: rgb(148, 130, 208);
}
nav {
  position: fixed;
  height: 100%;
  width: 20%;
  float: left;
  background-color: #eeedf6;
}
#ul li {
  list-style: none;
  cursor: pointer;
}
#ul li:hover {
  transform: translate(20px);
}
#ul li {
  color: rgb(148, 130, 208);
  font-size: 17px;
}
section {
  width: 80%;
  height: 100%;
  float: right;
}
section {
  text-align: center;
  position: relative;
  top: 50px;
}
summary {
  outline: none;
  color: rgb(148, 130, 208);
  font-family: 'Jua', sans-serif;
  font-size: 20px;
  position: relative;
  bottom: 20px;
}
summary::-webkit-details-marker {
  display: none;
}
.list li {
  position: relative;
  right: 23px;
  font-family: 'Jua', sans-serif;
  list-style: none;
  margin: 5px;
  font-size: 18px;
}
.album {
  color: rgb(148, 130, 208);
  font-size: 17px;
  text-align: center;
}
